<?xml version="1.0"   encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xunce.electrombile"
    >


    <application android:name=".applicatoin.App">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="b69ZgluO9BdP1IuRyOAnCT4y" />
    </application>

</manifest>
